.x-radio-group-body {
    position: relative;
    margin: -1 * $bp 0;

    &>.x-radio:first-child {
        .hairline-top {
            display: none;
        }
    }
}

.x-radio-group-header {
    padding: 15 * $bp 15 * $bp 9 * $bp 15 * $bp;
    font-size: 14 * $bp;
    color: $color-gray;
    width: 100%;
}

.x-radio-checked {
    .x-list-icon-right {
        color: $color-primary;
    }
}

.x-radio-disabled {
    color: $color-gray;
    
    .x-list-content, .x-list-extra {
        color: $color-gray;
    }
}