extends ./_layout

block title
    | Button

block content
    x-header(title="Button")
    .margin-10
        x-button(long) default
    .margin-10
        x-button(type="primary", long) primary
    .margin-10
        x-button(type="success", long) success
    .margin-10
        x-button(type="danger", long) danger
    .margin-10
        x-button(type="warning", long) warning 
    .margin-10
        x-button() default
        x-button(icon="plus-round") add
        x-button(icon="plus-round", icon-pos="after") add
        x-button(icon="plus-round")
    .margin-10
        x-button(icon="plus-round", loading) submit

block script
  script.
    new Vue({
      el: '#app',
      data () {
        return {
        }
      }
    })