extends ./_layout

block title
    | Cell

block content
    x-header(title="Cell")
    div(style="margin-top: 20px")
        x-cell
            x-cell-row
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item1
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item2
            x-cell-row
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item3
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item4
            x-cell-row
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item5
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item6

    div(style="margin-top: 20px")
        x-cell
            x-cell-row
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item1
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item2
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item3
            x-cell-row
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item4
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item5
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item6
            x-cell-row
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item7
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item8
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item9

    div(style="margin-top: 20px;")
        x-cell
            x-cell-row
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item1
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item2
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item3
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item4
            x-cell-row
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item5
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item6
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item7
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item8
            x-cell-row
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item9
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item10
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item11
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item12

    div(style="margin: 20px 0;")
        x-cell(no-line)
            x-cell-row
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item1
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item2
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item3
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item4
            x-cell-row
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item5
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item6
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item7
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item8
            x-cell-row
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item9
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item10
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item11
                x-cell-item
                    x-icon(type="ios-home-outline")
                    div item12
                

block script
  script.
    new Vue({
      el: '#app',
      data () {
        return {
        }
      }
    })