extends ./_layout

block title
    | Dropdown

block content
    x-header(title="Dropdown")
        div(slot="headerRight")
            x-dropdown(position="bottomRight", ref="popover", mask)
                div(slot="label")
                    x-icon(type="ios-more", is-button)
                x-dropdown-item(:click="click1") no icon
                x-dropdown-item(:click="click2", icon="social-github") have icon
    .margin-10.flex
        .flex-item
            x-dropdown(label="rightBottom", position="rightBottom", size="small")
                x-dropdown-item(:click="click1") no icon
                x-dropdown-item(:click="click2", icon="social-github") have icon
        .flex-item.flex-item-center
            x-dropdown(label="bottom", position="bottom", size="small")
                x-dropdown-item(:click="click1") no icon
                x-dropdown-item(:click="click2", icon="social-github") have icon
        .flex-item
            x-dropdown(label="leftBottom", position="leftBottom", size="small")
                x-dropdown-item(:click="click1") no icon
                x-dropdown-item(:click="click2", icon="social-github") have icon

    .margin-10.flex(style="padding-top: 20px;")
        .flex-item
            x-dropdown(label="right", position="right", size="small")
                x-dropdown-item(:click="click1") no icon
                x-dropdown-item(:click="click2", icon="social-github") have icon
        .flex-item.flex-item-center
            x-dropdown(position="bottom", style="margin: 0 18px", ref="popover2")
                div(slot="label", style="font-size: 14px;")
                    | 自定义Label内容
                x-dropdown-item(:click="click1") no icon
                x-dropdown-item(:click="click2", icon="social-github") have icon
                x-dropdown-item(:click="click2", icon="social-github") have icon
                x-dropdown-item(:click="click2", icon="social-github") have icon
        .flex-item
            x-dropdown(label="left", position="left", size="small")
                x-dropdown-item(:click="click1") no icon
                x-dropdown-item(:click="click2", icon="social-github") have icon

    .margin-10.flex(style="padding-top: 20px;")
        .flex-item
            x-dropdown(label="rightTop", position="rightTop", size="small")
                x-dropdown-item(:click="click1") no icon
                x-dropdown-item(:click="click2", icon="social-github") have icon
        .flex-item.flex-item-center
            x-dropdown(label="top", position="top", style="margin: 0 10px", size="small")
                x-dropdown-item(:click="click1") no icon
                x-dropdown-item(:click="click2", icon="social-github") have icon
        .flex-item
            x-dropdown(label="leftTop", position="leftTop", size="small")
                x-dropdown-item(:click="click1") no icon
                x-dropdown-item(:click="click2", icon="social-github") have icon
    
    .margin-10.flex(style="padding-top: 20px;")
        .flex-item
            x-dropdown(label="topLeft", position="topLeft", size="small")
                x-dropdown-item(:click="click1") no icon
                x-dropdown-item(:click="click2", icon="social-github") have icon
        .flex-item
            x-dropdown(label="topRight", position="topRight", size="small")
                x-dropdown-item(:click="click1") no icon
                x-dropdown-item(:click="click2", icon="social-github") have icon
 
    .margin-10.flex(style="padding-top: 20px;")
        .flex-item
            x-dropdown(label="bottomLeft", position="bottomLeft", size="small")
                x-dropdown-item(:click="click1") no icon
                x-dropdown-item(:click="click2", icon="social-github") have icon
        .flex-item
            x-dropdown(label="bottomRight", position="bottomRight", size="small")
                x-dropdown-item(:click="click1") no icon
                x-dropdown-item(:click="click2", icon="social-github") have icon

block script
  script.
    new Vue({
      el: '#app',
      data () {
        return {
        }
      },
      methods: {
          click1 () {
              console.log(1)
          },
          click2 () {
              console.log(2)
          },
          click3 () {
              this.$refs.popover.changeExpand()
          },
          click4 () {
              this.$refs.popover2.changeExpand()
          }
      }
    })