extends ./_layout

block title
    | Input

block content
    x-header(title="Input")
    .margin-top-10
        x-input(placeholder="placeholder", v-model="input1", label="normal")
        x-input(placeholder="placeholder", v-model="input2", label="passowrd", type="password")
        x-input(v-model="input4", label="textarea", type="textarea", rows="4")
        x-input(v-model="input1", label="readonly", readonly)
        x-input(label="disabled", disabled)

block script
  script.
    new Vue({
      el: '#app',
      data () {
        return {
            input1: '11111',
            input2: '',
            input3: '',
            input4: ''
        }
      },
      methods: {
          click1 () {
              console.log(1)
          }
      }
    })