extends ./_layout

block title
    | List

block content
    x-header(title="List")
    .margin-10
        x-list(title="Title", is-title)
        x-list(title="normal")
        x-list(title="list title", sub-title="this is subTitle", value="list value")
        x-list(title="icon left", value="icon right", left-icon="social-github", right-icon="person")
        x-list(title="slot iconLeft icon-xs", value="slot iconRight icon-lg")
            div(slot="leftIcon")
                x-icon(type="social-github", size="xs")
            div(slot="rightIcon")
                x-icon(type="person", size="lg")
        x-list(title="textarea", value="just like you see\nthis is a textarea", type="textarea")
        x-list(title="phone number", value="13813299675", is-tel)
        x-list(title="link", value="click", is-link, :on-click="click1")
        x-list-group(header="List Group")
            x-list(title="no bottom border", left-icon="social-github", line-border)
            x-list(title="no border", left-icon="social-github", line-border)
            x-list(title="no top border", left-icon="social-github", line-border)

block script
  script.
    new Vue({
      el: '#app',
      data () {
        return {
        }
      },
      methods: {
          click1 () {
              console.log(1)
          }
      }
    })