extends ./_layout

block title
    | Picker

block content
    x-header(title="picker")
    .margin-10
        x-button(long, @click.native="picker.single = true") single
    .margin-10
        x-button(long, @click.native="picker.multiple_2 = true") multiple_2
    .margin-10
        x-button(long, @click.native="picker.multiple_3 = true") multiple_3
    .margin-10
        x-button(long, @click.native="picker.cascader = true") cascader_2
    .margin-10
        x-button(long, @click.native="picker.cascader_3 = true") cascader_3
    
    x-picker(:data="list1", v-model="picker.single", @confirm="onConfirm")
    x-picker(:data="list2", v-model="picker.multiple_2", @confirm="onConfirm")
    x-picker(:data="list3", v-model="picker.multiple_3", @confirm="onConfirm")
    x-picker(:data="list4", v-model="picker.cascader", @confirm="onConfirm", cascader)
    x-picker(:data="list5", v-model="picker.cascader_3", @confirm="onConfirm", cascader)

block script
  script.
    new Vue({
      el: '#app',
      data () {
        return {
            list1: [[{label: '北京', value: 0}, {label: '上海', value: 1}, {label: '广州', value: 2}, {label: '深圳', value: 3}, {label: '杭州', value: 4}]],
            list2: [[{label: '北京', value: 0}, {label: '上海', value: 1}, {label: '广州', value: 2}, {label: '深圳', value: 3}, {label: '杭州', value: 4}], [{label: '北京1', value: 0}, {label: '上海1', value: 1}, {label: '广州1', value: 2}, {label: '深圳1', value: 3}, {label: '杭州1', value: 4}]],
            list3: [[{label: '北京', value: 0}, {label: '上海', value: 1}, {label: '广州', value: 2}, {label: '深圳', value: 3}, {label: '杭州', value: 4}], [{label: '北京1', value: 0}, {label: '上海1', value: 1}, {label: '广州1', value: 2}, {label: '深圳1', value: 3}, {label: '杭州1', value: 4}], [{label: '北京2', value: 0}, {label: '上海2', value: 1}, {label: '广州2', value: 2}, {label: '深圳2', value: 3}, {label: '杭州2', value: 4}]],
            list4: [[{label: '北京', value: 0}, {label: '上海', value: 1}],
             [{label: '北京1', value: 2, parentId: 0}, {label: '北京2', value: 3, parentId: 0}, 
              {label: '上海1', value: 4, parentId: 1}, {label: '上海2', value: 5, parentId: 1}],
             ],
            list5: [[{label: '北京', value: 0}, {label: '上海', value: 1}],
             [{label: '北京1', value: 2, parentId: 0}, {label: '北京2', value: 3, parentId: 0}, 
              {label: '上海1', value: 4, parentId: 1}, {label: '上海2', value: 5, parentId: 1}],
             [{label: '北京11', value: 6, parentId: 2}, {label: '北京22', value: 7, parentId: 3}, 
              {label: '上海11', value: 8, parentId: 4}, {label: '上海22', value: 9, parentId: 5}],
             ],
            picker: {
                single: false,
                multiple_2: false,
                multiple_3: false,
                cascader: false,
                cascader_3: false,
            }
        }
      },
      methods: {
          onCancel () {
              this.picker.single = false
          },
          onConfirm (value, title) {
              alert(value)
              alert(title)
          }
      }
    })