extends ./_layout

block title
    | Scroller

block content
    x-header(title="scroll")
    x-scroller(:on-refresh="refresh", :on-scroll="scroll", snapping)
        x-list(v-for="item in list", :title="item")


block script
  script.
    new Vue({
        el: '#app',
        data () {
            return {
                list: [1,2,3,4,5,6,7,8,9]
            }
        },
        methods: {
            refresh (done) {
                setTimeout(_ => {
                    var start = this.top - 1
                    for (var i = start; i > start - 10; i--) {
                        this.items.splice(0, 0, 'scroll-list-' + i);
                    }
                    this.top = this.top - 10;
                    done();
                }, 1500)
            },
            scroll (done) {
                var self = this
                setTimeout(function () {
                    var start = self.bottom + 1;
                    for (var i = start; i < start + 10; i++) {
                        self.items.push('scroll-list-' + i);
                    }
                    self.bottom = self.bottom + 10;
                    done();
                }, 1500)
            },
            test () {
                console.log('1111')
            }
        }
    })