extends ./_layout

block title
    | Scroller

block content
    x-header(title="scroller", style="position: fixed;top:0;left:0;right:0;z-index:100;")
    x-scroller(:on-refresh="refresh", :on-scroll="scroll", snapping, style="padding-top: 46px;")
        x-list(v-for="item in list", :title="item")
        


block script
  script.
    new Vue({
        el: '#app',
        data () {
            return {
                list: [],
                top: '',
                bottom: ''
            }
        },
        mounted: function () {
            for (var i = 1; i <= 20; i++) {
                this.list.push('scroll-list-' + i)
            }
            this.top = 1
            this.bottom = 20
        },
        methods: {
            refresh (done) {
                setTimeout(_ => {
                    var start = this.top - 1
                    for (var i = start; i > start - 10; i--) {
                        this.list.splice(0, 0, 'scroll-list-' + i);
                    }
                    this.top = this.top - 10
                    done()
                }, 1500)
            },
            scroll (done) {
                setTimeout(_ => {
                    var start = this.bottom + 1

                    for (var i = start; i < start + 10; i++) {
                        this.list.push('scroll-list-' + i)
                    }
                    this.bottom = this.bottom + 10
                    if(this.bottom>50) {
                        done(true)
                    }else {
                        done()
                    }
                    
                }, 1500)
            },
        }
    })