extends ./_layout

block title
    | Tabbar

block content
    x-header(title="Tabbar")
    x-tabbar
        x-tabbar-item(label="Message", icon="chatbox-working", @click.native="choose = 1", :selected="choose == 1", :badge="26")
        x-tabbar-item(label="Images", icon="images", @click.native="choose = 2", :selected="choose == 2")
        x-tabbar-item(label="My", icon="person", @click.native="choose = 3", :selected="choose == 3")
        x-tabbar-item(label="Card", icon="card", @click.native="choose = 4", :selected="choose == 4")
        

block script
  script.
    new Vue({
      el: '#app',
      data () {
        return {
            choose: ''
        }
      },
      methods: {
          set (v) {
              this.choose = v
          }
      }
    })