.x-list {
    @include display-flex();
    @include align-items();
    margin: -1 * $bp 0;
    position: relative;
    padding-left: 15 * $bp;
    min-height: 44 * $bp;
    background-color: $color-white;
    vertical-align: middle;
    overflow: hidden;
    -webkit-transition: background-color 200ms;
    transition: background-color 200ms;

    .x-list-line {
        @include display-flex();
        @include flex();
        position: relative;
        padding-right: 15 * $bp;
        overflow: hidden;
    }

    .x-list-line-center {
        @include align-items();
    }

    .x-list-line-top {
        @include align-items(flex-start);
    }

    .x-list-line-bottom {
        @include align-items(flex-end);
    }

    .x-list-extra {
        -webkit-flex-basis: 45%;
        -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
        color: $color-gray;
        font-size: 16 * $bp;
        line-height: 1.5;
        text-align: right;
        width: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-top: 7 * $bp;
        padding-bottom: 7 * $bp;
    }

    .x-list-content {
        @include flex();

        color: $color-black;
        font-size: 17 * $bp;
        line-height: 1.5;
        text-align: left;
        width: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-top: 7 * $bp;
        padding-bottom: 7 * $bp;
    }

    .x-list-subTitle {
        color: $color-gray;
        font-size: 15 * $bp;
        line-height: 1.5;
        margin-top: 6 * $bp;
        width: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .x-list-line-multiple {
        padding: 12.5 * $bp 15 * $bp 12.5 * $bp 0;
    }

    .x-list-icon {
        margin-right: 10 * $bp;
    }

    .x-list-icon-right {
        margin-right: 15 * $bp;
    }

    .x-list-tel {
        color: #4ba1e2 !important;
    }

    .x-list-mask::after, .x-list-mask-tel {
        background-color: #000;
        content: " ";
        opacity: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: absolute;
    }

    .x-list-textarea {
        white-space: pre-wrap;
        text-align: left;
        line-height: 18 * $bp;
        max-width: 280 * $bp;
        word-break: break-word;
    }
}

.x-list-title {
    padding: 11 * $bp 0 11 * $bp 10 * $bp;
    margin-top: 10 * $bp;
    min-height: 36 * $bp;
}

.x-list-active {
    background-color: $color-gray-light-extra;
}

.x-list-group-body {
    position: relative;
    margin: -1 * $bp 0;

    &>.x-list:first-child {
        .hairline-top {
            display: none;
        }
    }
}

.x-list-group-header {
    padding: 15 * $bp 15 * $bp 9 * $bp 15 * $bp;
    font-size: 14 * $bp;
    color: $color-gray;
    width: 100%;
}


